body {
  background-color: #1e1e1e;
  color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  font-family: sans-serif;
}

.scoreboard,
.control {
  display: flex;
  justify-content: center;
}

.scoreboard {
  font-size: 16pt;
  font-weight: bold;
  gap: 32px;
  margin-top: 48px;
  margin-bottom: 32px;
}

.control {
  gap: 24px;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 70px;
}

.choice {
  font-size: 32pt;
  background-color: #484848;
  border-radius: 12px;
}
